

<!-- link_to "edit snippet 1" , "/snippets/#{@snippet.id}/edit" , id:'1'
-->
<div class="list">
  <h3>JavaScript Snippets</h3>
  <ul>
    <% @snippetsJS.each do |js| %>
    <li><%= link_to( js.name, snippet_path(js)) %></li>
    <% end %>
  </ul>
</div>

<style>
  .list {
    width: 25%;
    text-align: center;
  }

  .list h3{
    margin-bottom: 10px;
    font-weight: bold;
  }
</style>
