

<!-- link_to "edit snippet 1" , "/snippets/#{@snippet.id}/edit" , id:'1'
-->


<!-- _________________________ Ruby ________________________ -->
<h2><a href="/javascript">JavaScript</a></h2>
<h2><a href="/ruby">Ruby</a></h2>
<h2><a href="/other">Others</a></h2>



<style>
  .section-js {
    display: block;
    width: 100%;
    background-color: #3e9a82;
  }

  .section-ruby {
    display: block;
    width: 100%;
    height: 300px;
    background-color: #f0c79c;
  }

  .list {
    width: 25%;
    text-align: center;
    vertical-align: top;
    display: inline-block;
  }

  .list h3{
    margin-bottom: 10px;
    font-weight: bold;
  }

  .score-board {
    display: inline-block;
    width: 25%;
    text-align: center;
  }

  .score-board h3{
    margin-bottom: 10px;
    font-weight: bold;
  }
</style>
