<section class="section-js">
  <div class="list">
    <h3>JavaScript Snippets</h3>
    <ul>
      <% @snippets_JS.each do |js| %>
      <li><%= link_to( js.name, snippet_path(js)) %></li>
      <% end %>
    </ul>
  </div>

  <div class="score-board">
    <h3>JavaScript Score Board</h3>
    <table border="1">
      <% if @attempts_JS.empty? %>
        <tr>
          <td> No scores </td>
          <td> --------- </td>
        </tr>
      <% else %>
        <% @attempts_JS.each do |attempt| %>
          <tr>
            <td><%= attempt.user.name %></td>
            <td><%= attempt.score %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</section>
