<div class="snippets-language-wrapper">

  <div class="languages-wrapper">
    <h2>Select a Language to Start Typing</h2>

    <a href="/languages/javascript">
      <div class="language-card">
        <h2>JavaScript</h2>
        <img src="https://www.voice-group.co.uk/wp-content/uploads/voice_group_web-languages-logos-javascript.png" alt="">
      </div>
    </a>

    <a href="/languages/ruby">
      <div class="language-card">
        <h2>Ruby</h2>
        <img src="http://js.judykat.com/ken-judy/wp-content/uploads/2014/09/ruby.png?b5a88a" alt="">
      </div>
    </a>

    <a href="/languages/other">
      <div class="language-card">
        <h2>Others</h2>
        <img src="http://4vector.com/i/free-vector-book_102706_Book.png" alt="">
      </div>
    </a>
  </div>

  <div class="language-leaderboard">
    <h2>SpeedCoder Leader Board</h3>

    <div class="language-score-board">
      <table class="table table-striped">
        <tr>
          <th>Snippet Name</th>
          <th>Username</th>
          <th>Score</th>
        </tr>
        <% if @attempts.empty? %>
          <tr>
            <td> --- </td>
            <td> No entries </td>
            <td> --------- </td>
          </tr>
        <% else %>
          <% @attempts.each do |attempt| %>
            <tr>
              <td><%= link_to(attempt.snippet.name, snippet_path(attempt.snippet.id)) %></td>
              <td><%= attempt.user.username %></td>
              <td><%= attempt.score %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>

</div>
