<div class="snippets-language-wrapper">

  <div class="languages-wrapper">
    <h2>Select a Language to Start Typing</h2>

    <div class="language-card">
      <h2><a href="/languages/javascript">JavaScript</a></h2>
      <img src="https://www.voice-group.co.uk/wp-content/uploads/voice_group_web-languages-logos-javascript.png" alt="">
    </div>

    <div class="language-card">
      <h2><a href="/languages/ruby">Ruby</a></h2>
      <img src="http://js.judykat.com/ken-judy/wp-content/uploads/2014/09/ruby.png?b5a88a" alt="">
    </div>

    <div class="language-card">
      <h2><a href="/languages/other">Others</a></h2>
      <img src="http://4vector.com/i/free-vector-book_102706_Book.png" alt="">
    </div>
  </div>

  <div class="language-leaderboard">
    <h2>SpeedCoder Leader Board</h3>

    <div class="language-score-board">
      <table class="table table-striped">
        <tr>
          <th>Snippet Name</th>
          <th>Username</th>
          <th>Score</th>
        </tr>
        <% if @attempts.empty? %>
          <tr>
            <td> Pos </td>
            <td> No scores </td>
            <td> --------- </td>
          </tr>
        <% else %>
          <% @snippets.each do |snippet| %>
            <% @attempts.each do |attempt| %>
              <tr>
                <td><%= link_to( snippet.name, snippet_path(snippet)) %></td>
                <td><%= attempt.user.username %></td>
                <td><%= attempt.score %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>

</div>
