<div class="snippet-new-wrapper">
  <div class="back-btn">
    <button class="btn-back" onclick="history.go(-1)">Go Back</button>
  </div>

  <div class="snippet-new-form">
    <%= form_tag '/snippets' , method: 'post' do %>

      <div class="snippet-name form-group">
        <input id="name" class="" name="name" type="text" placeholder="Snippet Name" >
      </div>

      <div class="snippet-description form-group">
        <textarea id="description" class="" type="text" name="description" placeholder="Description" rows="1" cols="60"></textarea>
      </div>

      <div class="snippet-language">
        <span class="fancyArrow"></span>
        <select id="language-new" class="" name="language">
          <option value="javascript">JavaScript</option>
          <option value="ruby">Ruby</option>
          <option value="other">Other</option>
        </select>
      </div>

      <div class="snippet-body form-group">
        <textarea id="snippet-body" type="text" name="body" rows="8" cols="60" placeholder="Snippet Code"></textarea>
      </div>

      <div class="snippet-btn">
        <button class="btn-snippet">Submit</button>
      </div>
    <% end %>
  </div>
</div>
