<div class="snippet-new-wrapper">

  <%= form_tag '/snippets' , method: 'post' do %>

    <div class="snippet-name">
      <input id="name" name="name" type="text" placeholder="Snippet Name" >
    </div>

    <div class="snippet-description">
      <textarea id="description" name="description" placeholder="Description" rows="2" cols="80"></textarea>
    </div>

    <div class="snippet-language">
      <select id="language" name="language">
        <option value="javascript">JavaScript</option>
        <option value="ruby">Ruby</option>
        <option value="other">Other</option>
      </select>
    </div>

    <div class="snippet-body">
      <textarea id="snippet-body" name="body" rows="12" cols="80" placeholder="Snippet Code"></textarea>
    </div>

    <div class="snippet-btn">
      <button class="btn btn-default">Submit</button>
    </div>
  <% end %>

</div>
