div.snippet-new-wrapper {
  margin: 0;
  font-family: Monofur;
  font-size: 20px;
  padding-left: 8px;
  max-width: 100%;

  div.snippet-name {
    margin: 5px;
    margin-top: 13px;
  }

  div.snippet-description {
    margin: 5px;
  }

  div.snippet-language {
    margin: 5px;
    margin-top: -10px;
  }

  div.snippet-body {
    margin: 5px;
    max-width: calc(100% - 45px);
  }

  div.snippet-btn{
    margin: 5px;
    display: inline-block;
  }

  div.snippet-delete-btn {
    margin: 5px;
    display: inline-block;
  }

  div.btns {
    display: inline-block;
    margin-top: -10px;
  }

  button {
    font-size: 100%;
  }

}
