$header-font: 'Luckiest Guy', sans-serif;
$font-stack: 'Jaldi', sans-serif;
$primary-color: #ffffff;
$secondary-color: #276DC2;

.snippet-new-wrapper {
  width: 100%;
  font-family: Menlo;

  .snippet-new-form {
    width: 90%;
    margin: 0 auto;
  }
  .snippet-new-form input {
    display: block;
    padding: 18px;
    border: none;
    width: 100%;
    margin: 6px 0px;
    border-bottom: 2px solid $secondary-color;
  }

  .snippet-language {
    margin: 4px 0px;
  }

  .snippet-description textarea {
    display: block;
    padding: 18px;
    border: none;
    width: 100%;
    margin: 6px 0px;
    border-bottom: 2px solid $secondary-color;
  }

  .snippet-body textarea {
    display: block;
    padding: 20px;
    width: 100%;
    margin: 10px 0px;
    border: 2px solid $secondary-color;
  }

  .form-control {
    margin: 20px 0px;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    height:30px;
    width: 150px;
    padding: 2px 10px 2px 20px;
    outline: none;
    // color: #74646e;
    // border: 1px solid #C8BFC4;
    border-radius: 0px;
    // box-shadow: inset 1px 1px 2px #ddd8dc;
    background: #fff;
    border: none;
    border-bottom: 2px solid $secondary-color;
  }
  .snippet-language .fancyArrow {
    width: 23px;
    height: 28px;
    position: absolute;
    display: inline-block;
    right: 3px;
    background: url("http://www.retype.pw/assets/css/blue-jelly-icons/003090-blue-jelly-icon-media-media2-arrow-down.png") right / 90%  no-repeat #fff;
    pointer-events: none;

  }
  .snippet-language {
    position: relative;
    display: inline-block;
  }

  .btn-snippet {
    display: inline;
    float: left;
    border: none;
    border-radius: 2px;
    color: $primary-color;
    background-color: $secondary-color;
    padding: 20px;
    width: 200px;
    font-size: 1.2em;
    margin: 0.1em 0em 0em 1em;
  }

  .btn-snippet:hover {
    background-color: $primary-color;
    color: $secondary-color;
    border: 2px solid $secondary-color;
  }

  // div.snippet-delete-btn {
  //   margin: 5px;
  //   display: inline-block;
  //   font-family: 'Jaldi', sans-serif;
  //   font-size: 150%;
  //   border: none;
  //   border-radius: 2px;
  //   color: $primary-color;
  //   background-color: $secondary-color;
  // }

  // div.btns {
  //   display: inline-block;
  //   margin-top: -10px;
  // }

  // .snippet-new-form input {
  //   border: none;
  //   border-bottom: 2px solid $secondary-color;
  // }
  //
  // .snippet-delete-btn button:hover {
  //   background-color: $primary-color;
  //   color: $secondary-color;
  //   border: 2px solid $secondary-color;
  // }



}



// .snippet-new-wrapper {
//   margin: 0;
//   font-family: Monofur;
//   font-size: 1em;
//   max-width: 100%;
//
//   .form-group {
//     margin: 20px 0;
//   }

  // div.snippet-name {
  //   margin: 5px;
  //   margin-top: 13px;
  // }
  //
  // div.snippet-description {
  //   margin: 5px;
  // }
  //
  // div.snippet-language {
  //   margin: 5px;
  //   margin-top: -10px;
  // }
  //
  // div.snippet-body {
  //   margin: 5px;
  //   max-width: calc(100% - 45px);
  // }
  //
  // div.snippet-btn{
  //   margin: 5px;
  //   display: inline-block;
  // }
  //
  // div.snippet-delete-btn {
  //   margin: 5px;
  //   display: inline-block;
  // }
  //
  // div.btns {
  //   display: inline-block;
  //   margin-top: -10px;
  // }
  //
  // button {
  //   font-size: 100%;
  // }
//
// }
