$header-font: 'Luckiest Guy', sans-serif;
$font-stack: 'Jaldi', sans-serif;
$primary-color: #ffffff;
$secondary-color: #276DC2;

div.snippets-show-wrapper {

  height: calc(100vh - 50px);
  margin: 0;
  font-size: 20px;

  section{
    float: left;
  }

  section {
    /*border: solid 1px black;*/
  }

  section.sidebar {
    // height: 100%;
    width: 200px;
    overflow: scroll;
    height: calc(100% - 50px);
    padding: 5px;
    font-size: 15px;
    border-right: solid 1px gray;
    background-color: rgba(150,150,150,.1);
  }

  h3.back-to-snippets {
    margin: .5em auto;
  }

  .sidebar table {
    width: 100%;
  }

  .sidebar td,
  .sidebar th {
    padding: 2px;
    word-wrap: break-word;
    max-width: 90px;
  }

  section.header {
    background-color: rgba(150,150,150,.1);
    width: calc(100vw - 200px);
    height: 35px;
    padding: 5px;
    border-bottom: 1px solid black;
    font-family: Menlo;
  }

  section.snippet {
    width: calc(100vw - 200px);
    /*height = 100vh - footer - header*/
    height: calc(100% - 50px - 35px);
    overflow: scroll;
    position: relative;
    font-family: Menlo;
    font-size: 16px;
  }

  div.snippet-row {
    height: 100%;
    width: 30px;
    float: left;
    padding: 5px;
    text-align: right;
    margin-right: 10px;
  }

  div.snippet-body {
    /*height: 100%;*/
    width: calc(100% - 55px);
    float: left;
    padding: 5px;
    color: rgb(150,150,150);
    // word-wrap: break-word;
    // word-break: break-all;
    /*overflow: hidden;*/
    white-space: nowrap;
  }

  .snippet span {
    display: inline;
    line-height: 20px;
    width: 10px;
    max-height: 20px;
    text-align: center;
    /*clear: both;*/

  }

  span.return {
    /*color: transparent;*/
    /*font-size: 14px;*/
  }

  .lightblue-bg {
    background-color: lightblue;
  }

  .pink-bg {
    background-color: pink;
  }

  .red-bg {
    background-color: red;
  }

  .black {
    color: black;
  }

  .red {
    color: red;
  }

  .timer {
    color: $primary-color;
  }

  section.footer {
    height: 50px;
    padding: 5px;
    border-top: solid 1px black;
    position: fixed;
    width: 100vw;
    bottom: 0;
    background-color: $secondary-color;
  }

  section.footer div.timer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  /* The Modal (background) */
  #winModal {
      display: none; /* Hidden by default */
      position: absolute; /* Stay in place */
      // z-index: 1; /* Sit on top */
      // left: 0;
      top: 0;
      width: calc(100%);
      height: 100%; /* Full height */
      background-color: rgba(100,100,100,0.1); /* Black w/ opacity */
      z-index: 20;
  }

  /* Modal Content/Box */
  #winModal .modal-content {
      background-color: rgba(255,255,255,0.8);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      padding: 20px;
      border: 1px solid black;
      width: 19em; /* Could be more or less, depending on screen size */
      text-align: center;
  }

  #winModal .modal-content p {
    padding-top: .4em;
    display: inline-block;
  }

  #winModal .modal-content button {
    margin: 5px;
  }

  /* The Modal (background) */
  #errorModal {
      display: none; /* Hidden by default */
      position: absolute; /* Stay in place */
      // z-index: 1; /* Sit on top */
      // left: 0;
      top: 0;
      width: calc(100%);
      height: 100%; /* Full height */
      z-index: 20;
  }

  /* Modal Content/Box */
  #errorModal .modal-content {
      background-color: rgba(255,150,150,0.2);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      padding: 20px;
      border: 1px solid black;
      width: 20em; /* Could be more or less, depending on screen size */
      text-align: center;
  }
}
