

<div class="form-wrapper">
  <div class="form-header">
    <h1 class="signup-h1">Login</h1>
  </div>

  <div class="user-forms">
    <%= form_tag '/session', method: 'post' do%>

      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <button>Login</button>

    <% end %>
  </div>
</div>
