
  <div class="form-wrapper">
    <div class="form-header">
      <h1 class="signup-h1">Speedcoder</h1>
      <h2>Editing your Account</h2>
    </div>

    <div class="user-forms">

      <%= form_tag user_path , method: 'patch' do %>

        <input type="text" name="name" placeholder="Name" value="<%= @user.name %>">
        <input type="email" name="email" placeholder="Email" value="<%= @user.email %>">
        <input type="text" name="username" placeholder="Username" value="<%= @user.username %>">
        <input type="password" name="password" placeholder="New password? Type it here" value="">
        <button>Update</button>

      <% end %>

    </div>
  </div>
