
<div class="wrapper">
  <section class="home-top">
    <header class="home-header">
      <h1 id="logo">SpeedCoder</h1>

      <!-- <a href="#">Code Snippets</a> -->
      <a class="create-acc-link" href="/users/new">Create a Free Account</a>
    </header>

    <div class="home-top-center">
      <h2>Built by Programmers for Programmers!</h2>

      <img src="https://payhub.com/images/payhub_developer_laptop_with_code.png" alt="">
    </div>

    <div class="home-top-bottom">
      <a href="/users/new">Sign Up</a>
      <a href="/session/new">Log In</a>
    </div>
  </section>

  <section class="home-middle">
    <div class="home-middle-left">
      <img src="https://www.planet-source-code.com/vb/2010Redesign/images/LangugeHomePages/HTML5_CSS_JavaScript.png" alt="">
    </div>

    <div class="home-middle-right">
      <h2>Feature 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, repellat totam molestiae alias? Quibusdam cum veritatis veniam explicabo eveniet accusantium unde iste, saepe tempora optio sint architecto, itaque eos distinctio!</p>

      <h2>Feature 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, repellat totam molestiae alias? Quibusdam cum veritatis veniam explicabo eveniet accusantium unde iste, saepe tempora optio sint architecto, itaque eos distinctio!</p>

      <h2>Feature 3</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, repellat totam molestiae alias? Quibusdam cum veritatis veniam explicabo eveniet accusantium unde iste, saepe tempora optio sint architecto, itaque eos distinctio!</p>
    </div>

  </section>

  <footer>
    <h2>Join the Team</h2>
    <a href="users/new">Sign Up</a>
  </footer>

</div>
