<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="home.css">
  <link rel="stylesheet" href="reset.css">
  <title>Document</title>
</head>
<body>

<div class="wrapper">
  <section class="home-top">
    <header class="home-header">
      <h1 id="logo">SpeedCoder</h1>

      <a href="#">Create a Free Account</a>
    </header>

    <div class="home-top-center">
      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eaque, aspernatur, cupiditate dolore blanditiis nulla, obcaecati enim vel assumenda ullam ea quis rerum beatae natus eius maxime modi aliquid dolores!</h2>

      <img src="https://payhub.com/images/payhub_developer_laptop_with_code.png" alt="">
    </div>

    <div class="home-top-bottom">
      <a href="#">Sign Up</a>
      <a href="#">Log In</a>
    </div>
  </section>

  <section class="home-middle">
    <div class="home-middle-left">
      <img src="https://www.planet-source-code.com/vb/2010Redesign/images/LangugeHomePages/HTML5_CSS_JavaScript.png" alt="">
    </div>

    <div class="home-middle-right">
      <h2>Feature 1</h2>
      <h2>Feature 2</h2>
      <h2>Feature 3</h2>
    </div>

  </section>

  <footer>
    <a href="#">Sign Up</a>
  </footer>

</div>

</body>
</html>
