
<div class="wrapper">
  <section class="home-top">

    <div class="home-top-center">
      <h2>Built by Programmers for Programmers!</h2>

      <img src="https://payhub.com/images/payhub_developer_laptop_with_code.png" alt="">
    </div>

    <div class="home-top-bottom">
      <a href="/users/new">Sign Up</a>
      <a href="/session/new">Log In</a>
    </div>
  </section>

  <section class="home-middle">
    <div class="home-middle-left">
      <div class="js-logo">
        <div class="js-heading">
          <h5>JAVASCRIPT</h5>
        </div>
        <img src="https://www.codementor.io/assets/page_img/learn-javascript.png" alt="">
      </div>
      <div class="ruby-logo">
        <div class="ruby-heading">
          <h5>RUBY</h5>
        </div>
        <img src="http://js.judykat.com/ken-judy/wp-content/uploads/2014/09/ruby.png?b5a88a" alt="">
      </div>
      <div class="other-logo">
        <div class="other-heading">
          <h5>OTHER</h5>
        </div>
        <img src="http://4vector.com/i/free-vector-book_102706_Book.png" alt="">
      </div>
    </div>

    <div class="home-middle-right">
      <h2>Typing Practice</h2>
      <p>Practice typing code in Javascript, Ruby and other languages. Guests can start practicing typing straight away. Guests' scores are not recorded to the leaderboard.</p>

      <h2>Leaderboard</h2>
      <p>Sign up to record your performance and compare your score with others for the same code snippet and overall leaderboard for the language. Users can edit their profiles.</p>

      <h2>Add Code Snippets</h2>
      <p>Users can add their own code snippets and anyone can practice typing their code snippets. Users who created their code snippets can edit and delete them.</p>
    </div>

  </section>

  <footer>
    <h2>Join the Team</h2>
    <a href="users/new">Sign Up</a>
  </footer>

</div>
