
<div class="form-wrapper">
  <div class="form-header">
    <h1 class="signup-h1">Join Speedcoder</h1>
    <h2>Create your Account</h2>
  </div>

  <div class="user-forms">

    <h3><%= @errors %></h3>

    <%= form_tag '/users', method: 'post' do%>

      <input type="text" name="name" placeholder="Name">
      <input type="email" name="email" placeholder="Email">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <button>Sign Up</button>

    <% end %>

  </div>
</div>
