
<div class="form-wrapper">
  <h1 class="signup-h1">Join Speedcoder</h1>

  <div class="user-forms">

    <%= form_tag '/users', method: 'post' do%>

      <input type="text" name="name" placeholder="Name">
      <input type="email" name="email" placeholder="Email">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <button>Sign Up</button>

    <% end %>

  </div>
</div>
