
<div class="wrapper">
  <header>
    <h1 id="logo">SpeedCoder</h1>

    <% if logged_in? %>
      <h2 class="create-acc-link"> <%= current_user.username %></h2>
      <div class="dropdown-menu">
        <a href="/snippets/new">New Snippet</a>
        <a href="">My Snippets</a>
        <a href="">Edit Account</a>
        <a href="">Logout</a>
      </div>
    <% else %>
      <a  href="/users/new" class="create-acc-link">Create a Free Account</a>
    <% end %>
  </header>


  <footer>
  </footer>

</div>

<%= javascript_include_tag "users/show" %>
