<div class="wrapper">
  <section class="home-top">
    <header>
      <h1 id="logo">SpeedCoder</h1>

      <a href="#">Create a Free Account</a>
    </header>

    <div class="home-top-center">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eaque, aspernatur, cupiditate dolore blanditiis nulla, obcaecati enim vel assumenda ullam ea quis rerum beatae natus eius maxime modi aliquid dolores!</p>

      <img src="#" alt="">
    </div>

    <div class="home-top-bottom">
      <a href="#">Sign Up</a>
      <a href="#">Log In</a>
    </div>
  </section>

  <section class="home-middle">
    <div class="home-middle-left">
      <h2>Feature 1</h2>
      <h2>Feature 2</h2>
      <h2>Feature 3</h2>
    </div>

    <div class="home-middle-right">
      <img src="#" alt="">
    </div>
  </section>

  <footer>
    <a href="#">Sign Up</a>
  </footer>

</div>
