
$header-font: 'Luckiest Guy', sans-serif;
$font-stack: 'Jaldi', sans-serif;
$primary-color: #ffffff;
$secondary-color: #276DC2;

.home-top {
  background-image: url("https://speckycdn-sdm.netdna-ssl.com/wp-content/uploads/2014/06/new_icon_set_12.jpg");
  padding: 1.5em;
  color: $primary-color;
}

#logo {
  display: inline-block;
  margin: .3em;
  font-family: $header-font;
  font-size: 3em;
}

.create-acc-link {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 1.6em;
  text-decoration: none;
  font-family: $font-stack;
  font-size: 1.2em;
  border: 2px solid $primary-color;
  border-radius: 2px;
  padding: 5px;
}

.home-header a:hover {
  background-color: $primary-color;
  color: black;
}

.home-top-center h2, img {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 48%;
  padding: 2%;
  font-family: $font-stack;
  font-size: 3em;
}

.home-top-bottom {
  text-align: center;
  margin: 1.5em;
}

.home-top-bottom a {
  text-decoration: none;
  font-family: $font-stack;
  font-size: 1.5em;
  border: 2px solid $primary-color;
  border-radius: 2px;
  padding: 0 10px;
}

.home-top-bottom a:first-child {
  background-color: $primary-color;
  color: black;
  padding: 0 20px;
}

.home-top-bottom a:hover {
  background-color: $primary-color;
  color: black;
}

.home-middle {
  width: 100%;
  background-color: $primary-color;
}

.home-middle-left {
  display: inline-block;
  vertical-align: middle;
  width: 48%;
  padding: 2%;
}

.home-middle-right {
  @extend .home-middle-left;
  text-align: center;
  font-family: $font-stack;
}

.home-middle-left img {
  width: 80%;
  margin: 2%;
}

.home-middle-left p {
  padding: 2em;
}

footer {
  text-align: center;
  background-color: #D9D9D9;
  font-family: $font-stack;
  font-size: 2em;
  padding: 1em;
}

footer h2 {
  color: #276DC2;
  padding-bottom: 1em;
}

footer a {
  text-decoration: none;
  border: 2px solid $secondary-color;
  color: $secondary-color;
  padding: 0px 20px;
}

footer a:hover {
  background-color: $secondary-color;
  color: $primary-color;
}

@media (max-width: 650px) {
  #logo {
    display: block;
    text-align: center;
  }

  .home-header a {
    visibility: hidden;
  }

  .home-top-center h2 {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
  }

  .home-top-center img {
    display: block;
    width: 100%;
  }

  .home-middle-right {
    display: block;
    width: 100%;
  }

  .home-middle-left {
    display: block;
    width: 100%;
  }

  .home-middle-left img {
    width: 100%;
  }
}
