
<h1>Speed Coder</h1>
<hr>
<div class="leaderboard-links">
  <ul>
    <li><a href="#">Top Score</a></li>
    <li><a href="#">Your Score</a></li>
  </ul>
</div>

<div class="leaderboard-show">
  <ul>
    <li>Username</li>
    <li>Avg. Speed</li>
    <li>Accuracy</li>
  </ul>

  <div class="leaders">

  </div>
</div>
