.users-show-wrapper {
  margin-top: 2em;

  h2.average-wpm,
  button.new-snippet {
    float: right;
  }

  h2 {
    font-size: 2em;
    margin-bottom: .3em;
  }

  button.new-snippet {
    margin: .5em;
  }

  th.name {
    width: 8em;
  }
  th.description {
    min-width: 8em;
  }
  th.language {

  }
  th.word-count tr{
    min-width: 6em;
    background-color: blue;
  }

  th.score {
    text-align: center;  
  }

  .word-count-column {
    text-align:center;
  }


}
