.users-show-wrapper {
  margin-top: 2em;

  h2.average-wpm,
  button.new-snippet {
    float: right;
  }

  h2 {
    font-size: 2em;
    margin-bottom: .3em;
  }

  button.new-snippet {
    margin: .5em;
  }  

  th.name {
    width: 8em;
  }
  th.description {
    min-width: 8em;
  }
  th.language {
    
  }
  th.body {
    min-width: 8em;
  }


}