.users-show-wrapper {
  margin-top: 2em;

  h2.average-wpm,
  button.new-snippet {
    float: right;
  }

  h2 {
    font-size: 2em;
    margin-bottom: .3em;
  }

  table tr:first-of-type td {
    font-weight: bold;
    // border-top: solid 2px gray;
    // border-bottom: solid 2px gray;
  }

  table tr:last-of-type td {
    // border-bottom: solid 2px gray;
  }

  button.new-snippet {
    margin: .5em;
  }  

  td.name {
    min-width: 8em;
  }
  td.description {
    min-width: 8em;
  }
  td.language {
    
  }
  td.body {
    min-width: 8em;
  }


}